---
name: ci
on:
  pull_request:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: make install
      - name: Lint source
        run: make lint
      - name: Build source
        run: make build
      - name: Run tests
        run: make test
      - name: Check for build changes
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "git working directory dirty, probably forgotten to commit built source"
          fi
